*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
.circle{
    height: 300px;
    width: 300px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    
}
.on{
    padding: 10px 20px;
    border-radius: 20px;
}
.on:Active{
    background-color: orange;
    transform: scale(1.1); 
}
.off{
    padding: 10px 20px;
    border-radius: 20px;
}   
.off:active{
    background-color: orange;
    transform: scale(1.1); 
}
